
body {
    background-color: #fff;
}

h2 {
    font-size: 48px;
}

pre {
    font-size: 24px;
}

img {
    backface-visibility: hidden;
}

#title {
    padding-top: 200px;
    font-size: 48px;
}

.note {
    font-size: 28px;
    position: absolute;
    bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rel {
    position: relative;
    width: 560px;
    height: 693px;
}

.abs {
    position: absolute;
}

#front {
    transition: opacity 1s ease;
}

:not(.active) > p > #front {
    opacity: 0;
}

#layers {
    position: relative;
    width: 560px;
    height: 693px;
}

.layer {
    position: absolute;
    transition: opacity 1s ease 0.2s, transform 1s ease;
}

$layer-rotate-y: 45deg;
$layer-rotate-x: 70deg;
$layer-margin: 100px;

:not(.active) > div > img {
    opacity: 0;
}

.layer {
    transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x);
    transition: transform 1s ease;
}

.present > div {
    @for $i from 1 through 3 {
        #layer#{$i} {
            transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x) translateZ($layer-margin * $i - 100);
            transition: transform 1s ease 0.8s;
        }
    }
}

.impress-on-sheets-detail {
    #sheets {
        opacity: 1;
    }

    #layer1 {
        opacity: 1;
        transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x) translateX(-500px);
    }
    #layer2 {
        opacity: 1;
        transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x) translateX(   0px);
    }
    #layer3 {
        opacity: 1;
        transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x) translateX( 500px);
    }

    #back {
        opacity: 0;
        transition: opacity 1s ease;
    }
}

.impress-on-sheets-simple {
    #sheetBS {
        opacity: 0.2;
        transform: translateX(-500px);
    }
    #sheetTS {
        opacity: 1;
        transform: translateX( 500px);
    }

    #back {
        opacity: 0;
        transition: opacity 1s ease;
    }
}

#connector {
    transition: opacity 1s ease;
}

:not(.active) > p > #connector {
    opacity: 0;
}
