
body {
    background-color: #fff;
}

h2 {
    font-size: 48px;
}

pre {
    font-size: 24px;
}

img {
    backface-visibility: hidden;
}

#title {
    padding-top: 200px;
    font-size: 48px;
}

.note {
    font-size: 28px;
    position: absolute;
    bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#front {
    transition: opacity 1s ease;
}

:not(.active) > p > #front {
    opacity: 0;
}

#layers {
    position: relative;
    width: 560px;
    height: 693px;
}

.layer {
    position: absolute;
    transition: opacity 1s ease 0.2s, transform 1s ease;
}

#layer0 {
    transform: rotateX(0deg);
}

$layer-rotate-y: 45deg;
$layer-rotate-x: 70deg;
$layer-margin: 100px;

:not(.active) > div > img {
    opacity: 0;
}

div > div > img {
    transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x);
    transition: transform 1s ease;
}

.present > div {
    @for $i from 1 through 3 {
        #layer#{$i} {
            transform: rotateY($layer-rotate-y) rotateX($layer-rotate-x) translateZ($layer-margin * $i - 100);
            transition: transform 1s ease 0.5s;
        }
    }
}

#connector {
    transition: opacity 1s ease;
}

:not(.active) > p > #connector {
    opacity: 0;
}
